/*
Grey background: #9695a3
Chart background: #c6c6cf
*/

body {
    margin: 0;
    background-color: #9695a3;
    overflow: hidden;
}

#appDiv
{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#homePage {
    flex-grow: 1;
}

#homePage div {
    border-radius: 6px;
    background-color: white;
    margin: 0px 48px 0px 48px;
}

#userPage {
    flex-grow: 1;
}

#navbar
{
    height: 100vh;
    border-radius: 0px 4px 4px 0px;
    width: 100px;
    padding: 6px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(lightcoral, lightblue);
}

#navbar button
{
    margin: 2px;
    font-size: large;
    border: 0px;
    background-color: beige;
}

#navbar button:hover
{
    background-color: orange;
}

.dataEntry
{
    border-radius: 3px;
    border: 3px solid rgb(64, 65, 107);
    padding: 4px;
    margin: 4px;
}

#content
{
    background-image: linear-gradient(#b0b0bb, #dcdce6);
    /* background-color: #c6c6cf; */
    height: 95vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

svg {
    border-radius: 4px;
    background-color: white !important;
}

#header
{
    height: 5vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
}

#userSelectorDiv
{
    margin: auto;
    background-color: #4ca3e0;
    border-radius: 3px;
}

.userSelectionButton
{
    height: 4vh;
    width: 70px;
    margin-top: 6px;
    border: none;
    background-color: #63beff;
}
.userSelectionButton:hover
{
    background-color: beige;
}
