/*
Grey background: #9695a3
Chart background: #c6c6cf
*/

body {
    margin: 0;
    background-color: #9695a3;
}

#appDiv
{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#homePage{
    flex-grow: 1;
}

#userPage{
    flex-grow: 1;
}

#navbar
{
    height: 100vh;
    border-radius: 0px 4px 4px 0px;
    width: 100px;
    padding: 6px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(lightcoral, lightblue);
}

#navbar button
{
    margin: 2px;
    font-size: large;
    border: 0px;
    background-color: beige;
}

#navbar button:hover
{
    background-color: orange;
}

#content
{
    background-color: #c6c6cf;
}

svg {
    border-radius: 4px;
    background-color: white !important;
}

#header
{
    height: 52px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
}

#userSelectorDiv
{
    margin: auto;
    background-color: #4ca3e0;
    border-radius: 3px;
}

.userSelectionButton
{
    height: 52px;
    width: 70px;
    margin-top: 6px;
    border: none;
    background-color: #63beff;
}
.userSelectionButton:hover
{
    background-color: beige;
}
